{
	"extends": ["plugin:@typescript-eslint/recommended", "prettier", "eslint:recommended"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"rules": {
		"no-console": ["warn", { "allow": ["clear", "info", "error", "dir", "trace", "log"] }],
		"no-var": 2
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest": true
	}
}
